@import "tailwindcss";

body {
     margin: 0;
     padding: 0;
     background-color: #1c2340;
     width: 100vw;
     height: 100vh;
 }

 .scrollbar-hide::-webkit-scrollbar {
     display: none;
 }
 
 /* For IE, Edge and Firefox */
 .scrollbar-hide {
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
 }

 .champ-icon img {
     height: 100%;
     width: 100%;
     transform: scale(1.11);
     border-radius: 11px;
 }